.perso-bg{
    background: 
    url("../images/perso-bg-left.png"),
    url("../images/perso-bg-right.png");
    background-position:
    -450px 171%,
    right 590px;
    background-repeat: no-repeat;
}