.perso-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 10px;
    padding-bottom: 60px;

    & .perso-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .title-h3{
        width: 60%;
        padding-top: 30px;
        font-size: 24px;
        text-align: center;
    }
    & .text{
       padding-top: 20px; 
    }
    & .perso-center{
        text-align: center;
    }
    & .perso-image{
        padding: 20px;
    }
}