.cards-container{
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    

    & .text {
        position: absolute;
        width: calc(100vw - 77px);
        left: 90px;
        top: 2%;
    }

    & .cards-block{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 100px;

        & .left-items, .right-items{
            padding-top: 200px;
        }

        & .card-items{
            display: flex;
            flex-direction: column;
            gap: 100px;
        }
        & .card-item{
            width: calc(100vw - 84px);
            min-width: 260px;
            height: calc(100vw - 78px);
            min-height: 300px;
            border-radius: 10px;
            // padding: 10px;

            &.orange{
                background-color: rgba(225, 180, 34, .7);
            }

            &.aquamarine{
                background-color: rgba(34, 225, 192, .7);
            }
            &.green{
                background-color: rgba(130, 225, 34, .7);
            }
            &.blue{
                background-color: rgba(34, 123, 225, .7);
            }
            &.red{
                background-color: rgba(225, 34, 86, .7);
            }
        }
    }
}

@media (max-width: 768px){
    .cards-container{
        padding-top: 40px;
        padding-bottom: 40px;        
    
        & .text {
            position: absolute;
            width: calc(100vw - 57px);
            left: 40px;
            top: 2%;
        }
    
        & .cards-block{
            column-gap: 30px;
            & .left-items, .right-items{
                padding-top: 100px;
            }
    
            & .card-items{
                gap: 30px;
            }
            & .card-item{
                width: calc(100vw - 74px);
                min-width: 100px;
                // height: calc(100vw - 38px);
                min-height: 230px;
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 425px) {
    .cards-container{
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        
    
        & .text {
            display: none;
        }
    
        & .cards-block{
            display: flex;
            flex-direction: column;
            
            justify-content: center;
            align-items: center;
            column-gap: 10px;

            & .card-item{
                width: calc(100vw - 68px);
                min-width: 120px;
                // height: calc(100vw - 38px);
                min-height: 190px;
            }
    
            & .left-items,
              .right-items,
              .center-items{
                display: flex;
                flex-direction: row;
                padding-top: 20px;
            }
        }
    }
}