.button {
    .font-text(@primaty-color, @semibold);
    font-size: 26px;
    background-color: @fird-color;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    filter: drop-shadow(12px 10px 0px @secondary-color);
}