.text{
    .font-text(@text-color, @regular);
    font-size: 22px;
  }

  .title-h3{
    .font-text(@fird-color, @bold);
    font-size: 32px;
  }

  .title-h4{
    .font-text(@text-color, @regular);
    font-size: 22px;
    text-align: center;
    padding: 8px 10px 0 10px;
  }