.top-menu{
  & .top-menu-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  & .sidebar{
    display: grid;
    grid-template-columns: auto 120px;

    & .contacts{
      justify-self: right;
      padding-right: 20px;
    }
    & .language{
      justify-content: right;
      & .selected{
        color: @fird-color;
        background-color: transparent;
      }
      & select{
        border: none;
        &:focus{
          outline: none;
        }
        & option {
          border-radius: 1px;
        }
      }
    }
  }
}

.top-menu-button {
    background-color: transparent;
    border: 10px;
    cursor: pointer;
    font-size: 30px;
    margin-left: 32px;
    float: left;
    line-height: 70px;
    display: none;

}

.top-menu-button:focus {
  outline: none;
}


.top-menu .top-menu-list .top-menu-item {
  align-self: flex-end;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  width: auto;
}
  
.top-menu .top-menu-list li a:hover {
  border-bottom:2px solid @fird-color;
}
  
  
  @media (max-width: 768px) {
    .top-menu{
        position: relative;
        display: flex;
        justify-content: right;

        &.menu-silver{
          background-color: #e7e7e7;
          opacity: .97;
          border-radius: 10px 10px 0 0;
        }
    }
    .top-menu-container {
      display: none !important;
      flex-direction: column-reverse;
      width: 100%;

      border-radius: 0 0 10px 10px;
    }

    .top-menu-container.show{
      display: grid !important;
      grid-template-columns: auto auto;
      position: absolute;
      top: 70px;
      background-color: #e7e7e7;
      opacity: .97;
      border-radius: 0 0 10px 10px;
      gap: 10px;

      & .top-menu-list{
        display: flex;
        flex-direction: column;

        & .top-menu-item{
          text-align: left;
          align-self: flex-start;
          padding-left: 20px;
        }
      }

      & .sidebar{
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .contacts{
          display: flex;
          flex-direction: column;
          justify-content:center;
          padding-right: 0;
        }
        & .language{
          display: flex;
          justify-content: center;
        }
      }
    }

    
    .top-menu-button {
      display: block;
      width: 40px;
      & svg{
        width: 20px;
      }
    }
  }
  
// @media (max-width: 600px) {
//     nav.top-menu ul.top-menu-list {
//     display: none;
//     flex-direction: column;
//     width: 100%;
//     }
//     nav.top-menu ul.show {
//         display: flex;
//     }
//     .top-menu-button {
//         display: block;
//     }
//     nav.top-menu {
//         // background-color: rgb(62, 109, 149);

//         & .sidebar.show{
//           display: grid;
//           grid-template-columns: auto;
//           grid-template-rows: auto auto;
//           row-gap: 10px;
//         }
//     }

//   }

//   @media (max-width: 500px){
//     nav.top-menu .sidebar.show{
//       display: flex;
//       top: 230px;
//       justify-content: center;
//       align-items: center;
//        & .contacts{
//         width: 100%;
//        }
//     }
//     nav.top-menu ul.top-menu-list{
//       height: 200px;
//       justify-content: flex-start;
//       & li{
//         width: 100%;
//         text-align: center;
//       }
//   }
// }
  