.about{
    & .title-h3{
        padding-left: 90px;
        padding-bottom: 10px;
    }
    & .text{
        width:80%;
        padding-left: 90px;
    }
    & .text span{
        font-weight: 600;
    }
    & .right-block{
        display: flex;
        justify-content: right;
        align-items: center;
    }
    & .left-block{
        position: relative;
        min-height: 300px;
        & .img-cards{
            position: absolute;
            top: 0;
            left: -50px;
        }
    }

}

@media (max-width: 768px){
    .about{
        & .title-h3{
            padding-left: 70px;
            padding-bottom: 10px;
        }
        & .text{
            width:100%;
            padding-left: 70px;
        }
        & .left-block{
            min-height: 100px;
        }
        & .right-block{
            & .size-s img{
                width: 32vw;
            }
        }
        & .left-block{
            & .img-cards{
                position: absolute;
                top: 0;
                left: 0;
                & img{
                    width: 250px;
                }
            } 
        }
    }
}

@media (max-width: 425px){
    .about{
        grid-template-columns: auto;
        justify-content: center;
        & .left-block{
            padding:0 40px;
            & .img-cards{
                position: absolute;
                top: 4px;
                left: 50px;
                & img{
                    width: 200px;
                }
            } 
        }
        & .right-block{
            display: none;
        }
    }
}