.adver-middle{
    background-image: url("../images/adver-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    .shadow-mixin(@fird-opacity-color, -20px, -20px);
}