.block-container.services{
    padding-top: 40px;
    padding-bottom: 40px;
    & .title-h3{
        padding-left: 90px;
        padding-bottom: 40px;
    }

    & .left-block{
        position: relative;
        & .card-ico{
            position: absolute;
            width: 140px;
            height: 90px;
            background-color: #22ADE1;
            border-radius: 10px;
            opacity: .4;
            transform: rotate(-45deg);
            top: -100px;
            left: -50px;
            .shadow-mixin(@secondary-opacity-oclor, -20px, -20px);
            border:2px solid #ffffff;
        }

    }

    & .right-block{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:center;

        & .text{
            width: 80%;
            padding-bottom: 50px;
        }

        & .card-ico{
            position: absolute;
            width: 140px;
            height: 90px;
            background-color: #E1B422;
            border-radius: 10px;
            opacity: .4;
            transform: rotate(-45deg);
            bottom: -100px;
            right: 10px;
            .shadow-mixin(@secondary-opacity-oclor, -20px, -20px);
            border:2px solid #ffffff;
        }
    }
}

@media (max-width: 768px){
    .services-container{
        padding: 0 !important;
        margin: 0 !important;
    }
    .block-container.services{
        padding-top: 0;

        & .title-h3{
            padding-left: 20px;
            padding-bottom: 40px;
        }

        & .left-block{
            padding-left: 20px;
            & .card-ico{
                width: 55px;
                height: 35px;
                top: -50px;
                left: -20px;
                .shadow-mixin(@secondary-opacity-oclor, -10px, -10px);
            }
            & .size-s img{
                width: 32vw;
            }
        }
        & .right-block{
            & .text{
                // width: 100px;
                padding-bottom: 30px;
            }
            & .card-ico{
                width: 55px;
                height: 35px;
                bottom: -70px;
                right: 20px;
                .shadow-mixin(@secondary-opacity-oclor, -10px, -10px);
            }   
        }
    }
}

@media (max-width: 425px){
    .block-container.services{
        & .left-block{
            display: flex;
            flex-direction: column;
            padding-left: 0;
            align-items: center;
            justify-content: center;
            & .card-ico{
                top: 0px;
                left: 20px;
            }
            & .image-container{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 20px;
            }
            & .size-s img{
                width: 80%;
            }
        }
        & .right-block{
            & .text{
                width: 70%;
                padding-bottom: 20px;
            }
            & .card-ico{
                bottom: 0px;
                right: 20px;
            }   
        }
    }
}